﻿
@{
    ViewBag.Title = "Kullanicilar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <h2>Kullanicilar</h2>
</div>

<table class="table table-striped table-hover table-bordered table-responsive" width="100%">
    <thead>
        <th class="text-center" width="50">ID </th>
        <th>Ad, Soyad </th>
        <th width="400">E-posta</th>
        <th  width="200"> </th>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">3</td>
            <td>esra koyuncu</td>
            <td>esrakoyuncu@gmail.com</td>
            <td class="text-right">
                <div class="dropdown">
                    <button class="btn btn-xs btn-warning" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seçenekler
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li><a href="/Admin/kullaniciDuzenle">Düzenle</a></li>
                        <li><a href="/Admin/kullaniciSil">Sil</a></li>
                    </ul>
                    
                 </div>
            </td>
        </tr>
    </tbody>

</table> 