﻿@{
    ViewBag.Title = "Menü";
}
<h2><b>@ViewBag.Title</b></h2>
<h3><i>"Yöresel lezzetlerin temsilcisi bir Karadeniz Mutfağı” Karadeniz Evi</i></h3>
<p>
    Karadeniz Yaylalarından gelen lezzetleri, aynı tazelikte sofranıza getiriyoruz.
    Karadeniz Mutfağının temsilcisi Anzer Sofrası,Karadeniz kıyısında,
    lezzet durağı olmaya devam ediyor. Memleket hasreti gidermek isteyen Karadenizlilerin
    uğrak noktası olan Karadeniz Evi hizmet sektörüne yıllarını vermiş Sait Yılmaz ve ailesinin yönetiminde,
    Rize’nin sıcak atmosferini aratmıyor.Karadeniz Yaylalarından gelen lezzetleri, aynı tazelikte sofranıza getiriyoruz.
    Karadeniz Mutfağının İstanbul’daki temsilcisi Karadeniz Evi, Karadeniz kıyısında
    lezzet durağı olmaya devam ediyor. Memleket hasreti gidermek isteyen Karadenizlilerin uğrak noktası olan Karadeniz Evi'nde hasret gideebilir.
</p>
<div class="navbar navbar-inverse navbar-default">
    <div class="container">
        <div class="nav-tabs-justified">
            <div class="nav nav">
                <h3><p align="center"><a style"color=FFFFFFF">ÇORBALAR</a></p></h3>
</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="~/resimler/çor1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">

    </div>
    <div class="col-md-3">
        <img src="~/resimler/karalahana.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Kralahana Çorbası</p>
    </div>
    <div class="col-md-3">
        <img src="~/resimler/çor1.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Tereyaglı Süzme Mercimek Çorbası</p>
    </div>

</div>
    <div class="navbar navbar-inverse navbar-default">
        <div class="container">
            <div class="nav-tabs-justified">
                <div class="nav nav">
                    <h3><p align="center"><a style"color=FFFFFFF">ANA YEMEKLER</a></p></h3>
                </div>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-3">
        <img src="~/resimler/yem1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">
       
    </div>
    <div class="col-md-3">
        <img src="~/resimler/yem2.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Tereyağlı Pilav</p>
    </div>
    <div class="col-md-3">
        <img src="~/resimler/yem3.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Karalahana Sarması</p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/resimler/yem1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">

        </div>
        <div class="col-md-3">
            <img src="~/resimler/yem4.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
            <p>Muhlama</p>
           </div>
            <div class="col-md-3">
                <img src="~/resimler/yem5.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
                <p>Hamsili Pilav</p>
            </div>
            
        </div>
<div class="row">
    <div class="col-md-3">
        <img src="~/resimler/yem1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">

    </div>
    <div class="col-md-3">
        <img src="~/resimler/yem8.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Turşu Kavurması</p>
    </div>
    <div class="col-md-3">
        <img src="~/resimler/yem7.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Trabzon Güveci</p>
    </div>
    </div>
<div class="row">
    <div class="col-md-3">
        <img src="~/resimler/yem1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">

    </div>
    <div class="col-md-3">
        <img src="~/resimler/yem6.png" img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Rize Kavurması</p>
    </div>
    </div>
    <div class="navbar navbar-inverse navbar-default">
        <div class="container">
            <div class="nav-tabs-justified">
                <div class="nav nav">
                    <h3><p align="center"><a style"color=FFFFFFF">IZGARALAR</a></p></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-3">
        <img src="~/resimler/ız1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">

    </div>
    <div class="col-md-3">
        <img src="~/resimler/ız3.png" class="img-circle" alt="Cinque Terre" width="250" height="180">
        <p>Tavuk Sote</p>
    </div>
    <div class="col-md-3">
        <img src="~/resimler/ız5.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Hamsi Tava</p>
    </div>
   
        </div>
    <div class="row">
            <div class="col-md-3">
                <img src="~/resimler/ız1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">
            </div>
            <div class="col-md-3">
                <img src="~/resimler/ız6.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
                <p>Tekir, İstavrit, Çinekop</p>
            </div>
        <div class="col-md-3">
            <img src="~/resimler/ız1.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
            <p>Anzer Köfte</p>
        </div>
            </div>
        <div class="navbar navbar-inverse navbar-default">
            <div class="container">
                <div class="nav-tabs-justified">
                    <div class="nav nav">
                        <h3><p align="center"><a style"color=FFFFFFF">SALATALAR</a></p></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="~/resimler/sal1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">

            </div>
            <div class="col-md-3">
                <img src="~/resimler/sal3.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
                <p>Çoban Salata</p>
            </div>
            <div class="col-md-3">
                <img src="~/resimler/sal4.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
                <p>Özel Karışık Turşu</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="~/resimler/sal1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">

            </div>
            <div class="col-md-3">
                <img src="~/resimler/sal5.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
                <p>Yayla Yoğurdu / Cacık</p>
            </div>
            <div class="col-md-3">
                <img src="~/resimler/sal2.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
                <p>Mevsim Salata</p>
            </div>
        </div>
        <div class="navbar navbar-inverse navbar-default">
            <div class="container">
                <div class="nav-tabs-justified">
                    <div class="nav nav">
                        <h3><p align="center"><a style"color=FFFFFFF">ARA SICAKLAR</a></p></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="~/resimler/ara1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">

            </div>
            <div class="col-md-3">
                <img src="~/resimler/ara2.png" class="img-circle" alt="Cinque Terre" width="250" height="180">
                <p>Kavurmalı Yumurta</p>
            </div>
            <div class="col-md-3">
                <img src="~/resimler/ara4.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
                <p>Sahanda Yumurta – Omlet</p>
            </div>
            
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="~/resimler/ara1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">
                </div>
                <div class="col-md-3">
                    <img src="~/resimler/ara5.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
                    <p>Patates Tava</p>
                </div>
                <div class="col-md-3">
                    <img src="~/resimler/ara1.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
                    <p>Anzer Menemen</p>
                </div>
            </div>

        <div class="navbar navbar-inverse navbar-default">
            <div class="container">
                <div class="nav-tabs-justified">
                    <div class="nav nav">
                        <h3><p align="center"><a style"color=FFFFFFF">TATLILAR</a></p></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <img src="~/resimler/tat1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">

            </div>
            <div class="col-md-3">
                <img src="~/resimler/tat2.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
                <p>Laz Böreği Tatlısı</p>
            </div>
            <div class="col-md-3">
                <img src="~/resimler/tat3.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
                <p>Giresun Tel Kadayıfı</p>
            </div>   
        </div>
<div class="row">
    <div class="col-md-3">
        <img src="~/resimler/tat1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">
    </div>
    <div class="col-md-3">
        <img src="~/resimler/tat4.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Hamsiköy Sütlacı</p>
    </div>
    <div class="col-md-3">
        <img src="~/resimler/tat1.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
        <p>Kabak Tatlısı</p>
    </div>
    </div>
    <div class="navbar navbar-inverse navbar-default">
        <div class="container">
            <div class="nav-tabs-justified">
                <div class="nav nav">
                    <h3><p align="center"><a style"color=FFFFFFF">SICAK İÇECEKLER</a></p></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/resimler/sıc1.png" class="img-circle" alt="Cinque Terre" width="1" height="1">

        </div>
        <div class="col-md-3">
            <img src="~/resimler/sıc2.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
            <p>Türk Kahvesi</p>
        </div>
        <div class="col-md-3">
            <img src="~/resimler/sıc1.png" class="img-circle" alt="Cinque Terre" width="180" height="180">
            <p>Neskafe</p>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-default">
        <div class="container">
            <div class="nav-tabs-justified">
                <div class="nav nav">
                    <h3><p align="center"><a style"color=FFFFFFF">SOĞUK İÇECEKLER</a></p></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/resimler/soğ1.png" class="img-rounded" alt="Cinque Terre" width="1" height="1">

        </div>
        <div class="col-md-3">
            <img src="~/resimler/soğ2.png" class="img-rounded" alt="Cinque Terre" width="100" height="150">
            <p>Sıkma Portakal Suyu</p>
        </div>
        <div class="col-md-3">
            <img src="~/resimler/soğ3.png" class="img-rounded" alt="Cinque Terre" width="100" height="150">
            <p>Yayık Ayranı</p>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/resimler/soğ5.png" class="img-rounded" alt="Cinque Terre" width="1" height="1">
        </div>
        <div class="col-md-3">
            <img src="~/resimler/soğ6.png" class="img-rounded" alt="Cinque Terre" width="100" height="150">
            <p>Cappy</p>
        </div>
        <div class="col-md-3">
            <img src="~/resimler/soğ7.png" class="img-rounded" alt="Cinque Terre" width="100" height="150">
            <p>Buzu Çay</p>
        </div>
      
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/resimler/soğ1.png" class="img-rounded" alt="Cinque Terre" width="1" height="1">
        </div>
        <div class="col-md-3">
            <img src="~/resimler/soğ00.png" class="img-rounded" alt="Cinque Terre" width="100" height="150">
            <p>Sprite</p>
        </div>
        <div class="col-md-3">
            <img src="~/resimler/soğ01.png" class="img-rounded" alt="Cinque Terre" width="100" height="150">
            <p>Fanta</p>
        </div>
    </div>
<div class="row">
    <div class="col-md-3">
        <img src="~/resimler/soğ1.png" class="img-rounded" alt="Cinque Terre" width="1" height="1">

    </div>
    <div class="col-md-3">
        <img src="~/resimler/soğ4.png" class="img-rounded" alt="Cinque Terre" width="100" height="150">
        <p>Su</p>
    </div>
    <div class="col-md-3">
        <img src="~/resimler/soğ9.png" class="img-rounded" alt="Cinque Terre" width="100" height="150">
        <p>Coca Cola Zero</p>
    </div>
    </div>
