﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><b> Mutfağının Temsilcisi</b></h3>
<p>Anzer Sofrası, menüsü Karadeniz’in eşsiz lezzetlerinden oluşan, malzemeleri Karadeniz’den doğal olarak temin eden,
     Karadeniz mutfağı sunan mekanlardan birisi. Samimi personelini sadece yaptıkları yemeklerle değil, aynı
     zamanda dillere destan misafirperverlikleri ile de övgüyü hak ediyor. Bu sıcak, samimi yerel lokantada Karadeniz 
    Yemeklerini tadarken aynı zamanda mis gibi boğaz havasını da içinize çekiyorsunuz.</p>
<h3><b> Organik Serpme Köy Kahvaltısı</b></h3>
<img src="~/resimler/kahvaltı.png" class="img-rounded" alt="Cinque Terre" width="904" height="236">
<p>
    Muhlama, Rize Kavurma, Omlet, Süzme bal, dut pekmezi,tereyağı,kaymak,köy peyniri,çeçil peyniri,beyaaz peynir,çeri domates salatalık,yeşillik
    siyah zeytin,yeşil zeytin,muhlama,kavurma,haşlanmış yumurta veya omlet ,sınırsız Rize çayı servisimizle her gün hizmetinizdeyiz.
</p>
<form>
    <h3><b><i>Karadeniz Evi-Bize Ulaşın</i></b></h3>
    <div class="form-group">
        <label for="Ad">Ad:</label>
        <input type="ad" class="form-control" id="ad">
    </div>
    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="İletiniz">İletiniz:</label>
        <input type="iletiniz" class="form-control" id="iletiniz">
    </div>
    <button type="button" class="btn btn-default">Gönder</button>
</form>